{% if status is defined and status == 'firing' -%}
Status: <b>{{ status | upper }}</b> 🔥
{%- endif %}
{%- if status is defined and status == 'resolved' %}
Status: <b>{{ status | upper }}</b> ✅
{%- endif %}
{%- if common_labels is defined and common_labels %}
{%- set severity = common_labels.severity %}
Priority: {% if severity | upper == 'CRITICAL' or severity | upper == 'ERROR' %}<b>{{ severity | upper }}</b> ❗{% elif severity | upper == "INFO" %}<b>{{ severity | upper }}</b> ℹ️{% elif severity | upper == "WARNING" %}<b>{{ severity | upper }}</b> ⚠️{% else %}<b>{{ severiy | upper }}</b> ℹ️{% endif %}
{%- endif %}
{%- if common_annotations.runbook is defined and common_annotations.runbook %}
{%- set runbook = common_annotations.runbook | replace('<', '&lt;') | replace('>', '&gt;') %}
Runbook: <b>{{ runbook }}</b>
{%- else %}
{%- set runbook = alerts[0].annotations.runbook | replace('<', '&lt;') | replace('>', '&gt;') %}
runbook: <b>{{ runbook }}</b>
{%- endif %}
{%- if common_annotations.dashboard is defined and common_annotations.dashboard %}
{%- set dashboard = common_annotations.dashboard | replace('<', '&lt;') | replace('>', '&gt;') %}
dashboard: <b>{{ dashboard }}</b>
{%- else %}
{%- set dashboard = alerts[0].annotations.dashboard | replace('<', '&lt;') | replace('>', '&gt;') %}
dashboard: <b>{{ dashboard }}</b>
{%- endif %}
{%- if common_annotations.description %}
{%- set description = common_annotations.description | replace('<', '&lt;') | replace('>', '&gt;') %}
Description: <b>{{ description }}</b>
{%- endif %}
{%- if common_labels.cluster is defined and common_labels.cluster %}
{%- set cluster = common_labels.cluster | replace('<', '&lt;') | replace('>', '&gt;') %}
Cluster: <b>{{ cluster }}</b>
{%- endif %}
